$font: Poppins,sans-serif;
$transicion600ms: all ease 600ms;
$transicion600msLineal: all 600ms;
$transitionS1: 1s ease all;

$bordes: 1px solid #fff;

$ggRojo: #ee216b;
$ggAzul: #3498db;
$ggverde: #32bc42;
$ggAmarillo: #dbcb34;

$colorFondo: #0c0d0d;

$colorIconos: #fff;
$colorTexto: #fff;

$colorDeSeleccion: #1abc9c;


$blue-freya: #4db5ff;
$blue-background-freya: #141529;
